.menu {
    background-color: lemonchiffon;
    box-sizing: border-box;
    padding: 30px;
    height: 100%;
    width: 80%;
    margin: 40px auto 0 auto;
    font-family: var(--font-primary);

    -webkit-box-shadow: 20px 20px 0px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 20px 20px 0px 0px rgba(0, 0, 0, 0.2);

    &__title {
        text-align: center;
    }

    &__courses {
        .course {
            margin-bottom: 1.5rem;

            &__title {
                text-align: left;
                margin-bottom: 0.5rem;
            }
            &__list {
                margin: 0;
                list-style: none;
                padding: 0;

                li:not(:first-child):not(:last-child) {
                    margin: 4px 0;
                }
            }
        }
    }
}
